<tr>
	<td class="center-text"><%= link_to(job.title, job_path(job)) %></td>
	<td class="center-text"><%= job.created_at %></td>
	<td class="center-text"><%= job.wage_upper_bound %></td>
	<td class="center-text"><%= job.wage_lower_bound %></td>
	<td class="center-text"><%= job.location %></td>
</tr>