<div class="col-md-6 col-md-offset-3" id="job-show">
	<div class="job-item-title col-md-12">
		<h2 id="job-show-title"><%= @job.title %></h2>
		<br>
		<h4 id="job-company_name"><%= @job.company_name %></h4>
	</div>
	<div class="job-item-detail">
		<p style="font-size: 1.5em; color: rgb(255, 127, 0);">薪资：<%= @job.wage_lower_bound %>-<%= @job.wage_upper_bound %></p>
		<span style="font-size: 1.5em;"><i class="fa fa-map-marker" aria-hidden="true" style="color: black;"></i><%= @job.location %></span>
		<span style="font-size: 1.5em;"><i class="fa fa-clock-o" aria-hidden="true"></i><%= @job.created_at.strftime("%d/%m/%Y") %></span>
	</div>
	<hr>
	<div class="job-item-description">
		<h3>职位描述</h3>
		<p><%= @job.description %></p>
	</div>
</div>
<div class="col-md-6 col-md-offset-3" id="job-item-button">
	<%= link_to("投递简历", new_job_resume_path(@job), class: "btn btn-success btn-block") %>
</div>
