<div class="container-fluid">
	<div class="col-md-6 col-md-offset-3">
		<h2 class="text-center">职位介绍</h2>
		<hr>
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				职位名称
			</div>
			<div class="panel-body">
				<h3 class="text-center"><%= @job.title %></h3>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				职位介绍
			</div>
			<div class="panel-body">
				<p class="text-center"><%= @job.description %></p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				薪资
			</div>
			<div class="panel-body">
				<p class="text-center">薪资上限： <%= @job.wage_upper_bound %></p>
				<hr>
				<p class="text-center">薪资下限： <%= @job.wage_lower_bound %></p>
			</div>
		</div>
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				坐标
			</div>
			<div class="panel-body">
				<p class="text-center"><%= @job.location %></p>
			</div>
		</div>
		<div>
			<%= link_to("投递简历", new_job_resume_path(@job), class: "btn btn-primary btn-block") %>
		</div>
	</div>
</div>