<div class="intro-header" style="height: 10px;">
</div>
<%= render "common/search_bar" %>
<div class="col-md-8 col-md-offset-2" style="padding-top: 2em; margin-left: 300px;">
	<ul class="nav nav-pills">
		<li class="field-li"><%= link_to(it_jobs_path) do %><i class="fa fa-at" aria-hidden="true" style="color: rgb(100, 255, 100);"></i><b style="color: black;">IT·互联网</b> <% end %>
		</li>
		<li class="field-li"><%= link_to(estate_jobs_path) do %><i class="fa fa-home" aria-hidden="true" style="color: rgb(100, 255, 100);"></i><b style="color: black;">房地产</b> <% end %>
		</li>
		<li class="field-li" style="margin-right: 0px;"><%= link_to(finance_jobs_path) do %><i class="fa fa-usd" aria-hidden="true" style="color: rgb(100, 255, 100);"></i><b style="color: black;">金融</b> <% end %>
		</li>
		<li class="field-li"><%= link_to(consumption_jobs_path) do %><i class="fa fa-shopping-bag" aria-hidden="true" style="color: rgb(100, 255, 100);"></i><b style="color: black;">消费品</b> <% end %>
		</li>
		<li class="field-li"><%= link_to(manufacture_jobs_path) do %><i class="fa fa-car" aria-hidden="true" style="color: rgb(100, 255, 100);"></i><b style="color: black;">汽车·制造</b> <% end %>
		</li>
		<li class="field-li"><%= link_to(chemistry_jobs_path) do %><i class="fa fa-medkit" aria-hidden="true" style="color: rgb(100, 255, 100);"></i><b style="color: black;">化工·医疗</b> <% end %>
		</li>
	</ul>
</div>
<%= render "common/show_jobs" %>