<tr>
	<td class="center-text"><%= link_to(job.title, gz_path(job)) %></td>
	<td class="center-text"><%= job.created_at %></td>
	<td class="center-text"><%= job.wage_upper_bound %></td>
	<td class="center-text"><%= job.wage_lower_bound %></td>
	<td class="center-text"><%= job.location %></td>
	<td class="center-text">
		<%= link_to(edit_gz_path(job), class: "btn btn-sm btn-default ") do %><i class="fa fa-pencil-square-o" aria-hidden="true"></i><% end %>	
		<%= link_to(gz_path(job), class: "btn btn-sm btn-default ", method: :delete, data: {confirm: "Are you sure?"}) do %><i class="fa fa-trash-o" aria-hidden="true"></i><% end %>	
		<%= link_to(edit_gz_path(job), class: "btn btn-sm btn-default ") do %><i class="fa fa-eye" aria-hidden="true"></i><% end %>	
	</td>
</tr>